/config/poolsim.php
/config/db.php
/config/security.php
/config/system.php
/config/site.php
/temp/
/userfile/
/wap/
/.idea/
/0.php
/core
*.swp
*.zip
*.gz
*.tgz
*.bz2
*.xz
*.rar
*~
/google*.html
.htaccess
/db/qqwry.dat
/tpl/*/img/face/
/work/
